.realted {
    width: 100%;
    height: auto;
    background-color: #FBFCFF;
}

.realted h3 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

.realted__container {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 6rem;
    position: relative;
}

.realted__container img {
    width: 23.5%;
    height: auto;
}

.nextBtn {
    outline: none;
    background: #FBFCFF;
    border: 2px solid #FBFCFF;
    border-radius: 4px;
    color: #FD4C5C;
    font-size: 0.9rem;
    padding: 0.5rem 0.6rem;
    top: 30%;
    right: 0%;
    position: absolute;
    transition: all 0.3s;
}

.nextBtn:hover {
    background-color: #FD4C5C;
    border: #FD4C5C;
    color: #FBFCFF;
}

.prevBtn {
    outline: none;
    background: #FBFCFF;
    border: 2px solid #FBFCFF;
    border-radius: 4px;
    color: #FD4C5C;
    font-size: 0.9rem;
    padding: 0.5rem 0.6rem;
    top: 30%;
    left: 0%;
    position: absolute;
    transition: all 0.3s;
}

.prevBtn:hover {
    background-color: #FD4C5C;
    border: #FD4C5C;
    color: #FBFCFF;
}

.images {
    display: block;
}

.image-mobile {
    display: none;
}

@media (min-width:0) and (max-width:480px) {
    .realted__container {
        width: 90%;
    }

    .realted__container img {
        width: 100%;
    }

    .images {
        display: none;
    }

    .image-mobile {
        display: block;
    }

    .nextBtn {
        top: 40%;
        right: -1rem;
        padding: 1rem 1.2rem;
    }

    .prevBtn {
        top: 40%;
        left: -1rem;
        padding: 1rem 1.2rem;
    }

}